<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aberturas La Deolinda</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Lightbox2 (CSS + JS) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <link rel="stylesheet" href=".././css/estilos.css">
    <link rel="icon" href=".././images/LogoPNG.png" type="image/png">
</head>
<body>
    <header>
         <!--Imágen cabecera-->
        <div class="div_img_cabecera">
            <img class="img_logo" src=".././images/Logo.jpg" alt="aberturas la deolinda logo" width="960" height="960">
            <img class="img_cabecera" src=".././images/header.jpg" alt="aberturas la deolinda" width="1024" height="220">
        </div>


        <!--Menú enlaces-->
        <nav>
            <div class="cabecera_enlaces">
                <div class="menu">
                    <a class="enlaces" href=".././index.html">Inicio</a>
                </div>
                <div class="menu">
                    <a class="enlace_actual"  href="./productos.html">Productos</a>
                </div>
                <div class="menu">
                    <a class="enlaces" href="./presupuesto.html">Presupuesto</a>
                </div>
                <div class="menu">
                    <a class="enlaces" href="./contacto.html">Contacto</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <h2>Productos</h2>

            <div class="div_galeria">
                <div class="div_img">
                    <span class="span-img">Ventana doble paño 150x150cm mas raja 50x150cm</span>
                    <a href="./../images/img01.jpeg" data-lightbox="galeria" data-title="Ventana doble paño 150x150cm mas raja 50x150cm">
                        <img class="img" src="./../images/img01.jpeg" alt="Ventana doble paño 150x150cm mas raja 50x150cm">
                    </a>
                </div>

                <div class="div_img">
                    <span class="span-img">Puerta reforzada 80x200cm blanca</span>
                    <a href="./../images/img02.jpeg" data-lightbox="galeria" data-title="Puerta reforzada 80x200cm blanca">
                        <img class="img" src="./../images/img02.jpeg" alt="Puerta reforzada 80x200cm blanca">
                    </a>
                </div>

                <div class="div_img">
                    <span class="span-img">Ventana 100x60cm con doble hoja corrediza</span>
                    <a href="./../images/img03.jpeg" data-lightbox="galeria" data-title="Ventana 100x60cm con doble hoja corrediza">
                        <img class="img" src="./../images/img03.jpeg" alt="Ventana 100x60cm con doble hoja corrediza">
                    </a>
                </div>
                <div class="div_img">
                    <span class="span-img">Ventana 100x100cm con doble hoja corrediza</span>
                    <a href="./../images/img04.jpeg" data-lightbox="galeria" data-title="Ventana 100x100cm con doble hoja corrediza">
                        <img class="img" src="./../images/img04.jpeg" alt="Ventana 100x100cm con doble hoja corrediza">
                    </a>
                </div>
                <div class="div_img">
                    <span class="span-img">Ventana 100x100cm con doble hoja móvile frontal</span>
                    <a href="./../images/img05.jpg" data-lightbox="galeria" data-title="Ventana 100x100cm con doble hoja móvil frontal">
                        <img class="img" src="./../images/img05.jpg" alt="Ventana 100x100cm con doble hoja móvil frontal">
                    </a>
                </div>
                 <div class="div_img">
                    <span class="span-img">Puerta doble de 120x200cm con doble hoja móvil frontal</span>
                    <a href="./../images/img06.jpeg" data-lightbox="galeria" data-title="Puerta doble de 120x200cm con doble hoja móvil frontal">
                        <img class="img" src="./../images/img06.jpeg" alt="Puerta doble de 120x200cm con doble hoja móvil frontal">
                    </a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <img src=".././images/Logo.jpg" alt="aberturas la deolinda" width="200" height="200">
        <div class="contacto-footer">
            <ul>
                <li><a href="https://maps.app.goo.gl/EmYWoP4i2GhBsNLJ8" target="_blank"><img class="iconos" src="./../images/ubicacion.png" alt="ubicación aberturas la deolinda" width="225" height="225">C/ Santa Cecilia, 19, Alicante (CP 03007)</a></li>
                <li><a href="mailto:aberturasdeolinda@gmail.com"><img class="iconos" src=".././images/correo.png" alt="correo aberturas la deolinda" width="94" height="32">aberturasdeolinda@gmail.com</a></li>
                <li><img class="iconos" src=".././images/telefono.png" alt="teléfono la deolinda" width="30" height="30">654655664</li>
            </ul>                
        </div>
        <div class="texto_footer_contenedor">
            <p class="texto_footer">Aberturas La Deolinda</p>
        </div>
        <div class="redes_contenedor">
            <a href="https://www.instagram.com" target="_blank"><img class="iconos_redes" src="./../images/IG.png" alt="Instagram" width="70" height="56"></a>
            <a href="https://www.facebook.com/people/Aberturas-La-Deolinda/61557149286943/" target="_blank"><img class="iconos_redes" src="./../images/fb.png" alt="Facebook" width="70" height="56"></a>
        </div>
    </footer>


    <script src=".././js/script.js"></script>
</body>

</html>
